@import common

.content
	max-width 100%
	width 900px
	margin-left auto
	margin-right auto

	.questioncontainer
		display flex
		justify-content space-between
		margin-top 100px

	.thx
		display none
		margin-top 100px
		width 100%
		text-align center
		font-size 40px

	.answer-image
		cursor pointer
		width 256px
		height 256px
