doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100', rel='stylesheet', type='text/css')

		link(rel='stylesheet', href="/stylesheets/index.css")
	body
		.content
			| Mo how zeg, da werkt hier al !
			br
			| Kijk mama, ne form, zonder handen:
			br
			.formcontainer



		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.tmpl.min.js')
		script(src='http://underscorejs.org/underscore.js')
		script(src='http://backbonejs.org/backbone.js')
		script(src='/vendor/backbone-forms.js')
		script(type='text/javascript', src='/javascripts/countries.js')
		script(type='text/javascript', src='/javascripts/index.js')